:root {
  --14-regular-font-family: "Inter", Helvetica;
  --14-regular-font-size: 14px;
  --14-regular-font-style: normal;
  --14-regular-font-weight: 400;
  --14-regular-letter-spacing: 0px;
  --14-regular-line-height: 20px;
  --black-fonts-headings: rgba(45, 46, 46, 1);
  --font-style-inter-body-font-family: "Inter", Helvetica;
  --font-style-inter-body-font-size: 16px;
  --font-style-inter-body-font-style: normal;
  --font-style-inter-body-font-weight: 400;
  --font-style-inter-body-letter-spacing: 0px;
  --font-style-inter-body-line-height: 140%;
  --font-style-inter-caption-font-family: "Inter", Helvetica;
  --font-style-inter-caption-font-size: 10px;
  --font-style-inter-caption-font-style: normal;
  --font-style-inter-caption-font-weight: 400;
  --font-style-inter-caption-letter-spacing: 0px;
  --font-style-inter-caption-line-height: 140%;
  --font-style-inter-label-font-family: "Inter", Helvetica;
  --font-style-inter-label-font-size: 14px;
  --font-style-inter-label-font-style: normal;
  --font-style-inter-label-font-weight: 400;
  --font-style-inter-label-letter-spacing: 0px;
  --font-style-inter-label-line-height: 140%;
  --font-style-inter-title-font-family: "Inter", Helvetica;
  --font-style-inter-title-font-size: 20px;
  --font-style-inter-title-font-style: normal;
  --font-style-inter-title-font-weight: 700;
  --font-style-inter-title-letter-spacing: 0px;
  --font-style-inter-title-line-height: normal;
  --grayscale-1: rgba(255, 255, 255, 1);
  --grayscale-2: rgba(247, 247, 248, 1);
  --grayscale-5: rgba(57, 57, 57, 1);
  --grayscale-6: rgba(0, 0, 0, 1);
  --m3-display-medium-emphasized-font-family: "Roboto", Helvetica;
  --m3-display-medium-emphasized-font-size: 45px;
  --m3-display-medium-emphasized-font-style: normal;
  --m3-display-medium-emphasized-font-weight: 500;
  --m3-display-medium-emphasized-letter-spacing: 0px;
  --m3-display-medium-emphasized-line-height: 52px;
  --m3-display-medium-font-family: "Roboto", Helvetica;
  --m3-display-medium-font-size: 45px;
  --m3-display-medium-font-style: normal;
  --m3-display-medium-font-weight: 400;
  --m3-display-medium-letter-spacing: 0px;
  --m3-display-medium-line-height: 52px;
  --m3-display-small-emphasized-font-family: "Roboto", Helvetica;
  --m3-display-small-emphasized-font-size: 36px;
  --m3-display-small-emphasized-font-style: normal;
  --m3-display-small-emphasized-font-weight: 500;
  --m3-display-small-emphasized-letter-spacing: 0px;
  --m3-display-small-emphasized-line-height: 44px;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-font-style: normal;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --stroke-colorblack: rgba(0, 0, 0, 1);
  --stroke-colorgray: rgba(155, 155, 155, 1);
  --stroke-colorwhite: rgba(255, 255, 255, 1);
  --ZYPPR-default-font-family: "Open Sans", Helvetica;
  --ZYPPR-default-font-size: 16px;
  --ZYPPR-default-font-style: normal;
  --ZYPPR-default-font-weight: 400;
  --ZYPPR-default-letter-spacing: 0px;
  --ZYPPR-default-line-height: normal;
}