:root {
  --collection-1-boolean: none;
  --custom-style-color-1: rgba(255, 255, 255, 1);
  --ZYPPR-default-font-family: "Open Sans", Helvetica;
  --ZYPPR-default-font-size: 16px;
  --ZYPPR-default-font-style: normal;
  --ZYPPR-default-font-weight: 400;
  --ZYPPR-default-letter-spacing: 0px;
  --ZYPPR-default-line-height: normal;
}