:root {
  --12-regular-font-family: "Inter", Helvetica;
  --12-regular-font-size: 12px;
  --12-regular-font-style: normal;
  --12-regular-font-weight: 400;
  --12-regular-letter-spacing: 0px;
  --12-regular-line-height: 16px;
  --14-regular-font-family: "Inter", Helvetica;
  --14-regular-font-size: 14px;
  --14-regular-font-style: normal;
  --14-regular-font-weight: 400;
  --14-regular-letter-spacing: 0px;
  --14-regular-line-height: 20px;
  --black-fonts-headings: rgba(45, 46, 46, 1);
  --font-style-inter-title-font-family: "Inter", Helvetica;
  --font-style-inter-title-font-size: 20px;
  --font-style-inter-title-font-style: normal;
  --font-style-inter-title-font-weight: 700;
  --font-style-inter-title-letter-spacing: 0px;
  --font-style-inter-title-line-height: normal;
  --heading-font-family: "Inter", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000762939453%;
  --m3-display-medium-emphasized-font-family: "Roboto", Helvetica;
  --m3-display-medium-emphasized-font-size: 45px;
  --m3-display-medium-emphasized-font-style: normal;
  --m3-display-medium-emphasized-font-weight: 500;
  --m3-display-medium-emphasized-letter-spacing: 0px;
  --m3-display-medium-emphasized-line-height: 52px;
  --m3-display-medium-font-family: "Roboto", Helvetica;
  --m3-display-medium-font-size: 45px;
  --m3-display-medium-font-style: normal;
  --m3-display-medium-font-weight: 400;
  --m3-display-medium-letter-spacing: 0px;
  --m3-display-medium-line-height: 52px;
  --m3-display-small-emphasized-font-family: "Roboto", Helvetica;
  --m3-display-small-emphasized-font-size: 36px;
  --m3-display-small-emphasized-font-style: normal;
  --m3-display-small-emphasized-font-weight: 500;
  --m3-display-small-emphasized-letter-spacing: 0px;
  --m3-display-small-emphasized-line-height: 44px;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-font-style: normal;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --subheading-font-family: "Inter", Helvetica;
  --subheading-font-size: 20px;
  --subheading-font-style: normal;
  --subheading-font-weight: 400;
  --subheading-letter-spacing: 0px;
  --subheading-line-height: 120.00000762939453%;
  --ZYPPR-default-font-family: "Open Sans", Helvetica;
  --ZYPPR-default-font-size: 16px;
  --ZYPPR-default-font-style: normal;
  --ZYPPR-default-font-weight: 400;
  --ZYPPR-default-letter-spacing: 0px;
  --ZYPPR-default-line-height: normal;
}